.login, .create-account {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30rem;
}

.required-asterisk, .error-message {
    color: #f00;
}

.create-account-input-image {
    position: absolute;
    width: 0;
    visibility: hidden;
}

.create-account-image-button {
    width: 10vw;
    height: 10vw;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    padding: 0;
    overflow: hidden;
}

.create-account-image-button:hover {
    filter: brightness(90%);
}

.create-account-image-button img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.no-image-background {
    width: 100%;
}

.no-image-background img {
    width: 30%;
}

.no-image-background p {
    font-size: 1vw;
    margin: 0;
}
