.login, .create-account {
    margin-top: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

.login {
    max-width: 25rem;
}

.create-account {
    max-width: 60rem;
}

.required-asterisk, 
.error-message {
    color: #f00;
}

.password-box {
    position: relative;
}

.password-box button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.25rem;
    border: none;
}

.login-button {
    width: 100%;
}

.login-footer {
    margin: 1rem 0 0 0;
    text-align: center;
}

.input-image {
    position: absolute;
    opacity: 0;
    z-index: -10;
}

.image-button {
    border: none;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    padding: 0;
    margin: auto;
    overflow: hidden;
}

.create-account .image-button {
    border-radius: 50%;
    width: 17rem;
    height: 17rem;
}

.image-button:hover {
    filter: brightness(90%);
}

.image-button img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.no-image-background {
    margin-top: 1rem;
    width: 100%;
}

.no-image-background img {
    width: 30%;
    max-width: 3rem;
}

.no-image-background p {
    font-size: 0.9rem;
    margin: 0 20%;
}

.create-account-button {
    width: 100%;
}

.back-to-login {
    text-decoration: none;
    height: 1rem;
    width: fit-content;
    margin: 1rem 0 0 0;
    display: flex;
    align-items: center;
}

.back-to-login img {
    height: 100%;
    margin-right: 0.3rem;
    filter: invert(47%) sepia(37%) saturate(3524%) hue-rotate(199deg) brightness(102%) contrast(95%);
}

@media (max-width: 992px) {
    .create-account form {
        margin-bottom: calc(var(--footer-height) + 1rem);
    }
}