.confirmation-body {
    text-align: center;
}

.confirmation-header {
    font-size: 1.5rem;
}

.confirmation-card {
    position: relative;
    margin: 1rem;
    background-color: transparent;
    perspective: 2000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    height: 25rem;
    overflow: hidden;
    box-shadow: 0 2px 3px 1px rgb(173, 173, 173);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-front {
    background-color: #fff;
    overflow: hidden;
}

.card-back {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: rotateY(180deg) translateY(-50%);
    background-color: #fff;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back img {
    height: 5rem;
    width: 5rem;
    filter: invert();
}

.check-circle {
    background-color: var(--green);
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-message {
    font-size: 2rem;
    padding: 1rem 0;
    border-bottom: 1px solid var(--border-color);
}

.back-event-name {
    font-size: 1.5rem;
}

.card-inner.flipped {
    transform: rotateY(180deg);
    overflow: visible;
}

.confirmation-event-name {
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
    max-width: calc(100% - 2rem);
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
}

.confirmation-image-box {
    position: relative;
    height: 55%;
    width: 100%;
    overflow: hidden;
}

.confirmation-image-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.confirmation-details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.confirmation-details .creator-info {
    justify-content: center;
    margin: 0 0 1rem 0;
}

.confirmation-footer {
    display: flex;
    justify-content: center;
}

.confirmation-footer button {
    position: relative;
    width: calc(50% - 0.5rem);
    border-radius: 0.3rem;
    border: none;
    padding: 0.3rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.confirmation-footer button[disabled] {
    background-color: #ddd;
    color: #666;
}

.confirmation-footer button[disabled]:active {
    transform: none;
}

.confirm-button {
    background-color: var(--medium-blue);
    color: #fff;
}

.confirmation-spinner {
    position: absolute;
    top: calc(50% - 0.5rem);
    right: 0.6rem;
}