.confirmation-body {
    text-align: center;
}

.confirmation-header {
    font-size: 1.2rem;
}

.confirmation-card {
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 2px 3px 1px rgb(173, 173, 173);
    margin: 1.5rem;
}

.confirmation-event-name {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
    max-width: calc(100% - 2rem);
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 0.5rem;
}

.confirmation-image-box {
    position: relative;
    height: 15rem;
    width: 100%;
    overflow: hidden;
}

.confirmation-image-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.confirmation-details {
    padding: 1rem;
}

.confirmation-footer {
    display: flex;
    justify-content: center;
}

.confirmation-footer button {
    width: calc(50% - 0.5rem);
    border-radius: 0.3rem;
    border: none;
    padding: 0.3rem 1rem;
    transition: 0.3s;
    font-size: 1.2rem;
    font-weight: 500;
}

.confirm-button {
    background-color: var(--medium-blue);
    color: #fff;
}