.create-event-header {
    /* background-color: var(--orange); */
    background: var(--create-event-color);
}

.create-footer button,
.edit-footer button,
.participant-list-back {
    border-radius: 0.3rem;
    border: none;
    padding: 0.3rem 1rem;
    transition: 0.3s;
    font-size: 1.2rem;
    font-weight: 500;
}

.create-footer button:hover,
.edit-footer button:hover,
.participant-list-back:hover {
    filter: brightness(110%)
}

.cancel-button,
.participant-list-back {
    background-color: #ddd;
}

.create-button,
.save-button {
    background-color: var(--medium-green);
    color: #fff;
}

.delete-button {
    background-color: var(--light-red);
}
