.event {
    position: relative;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    box-shadow: 0 2px 3px 1px rgb(173, 173, 173);
    overflow: hidden;
}

.event-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.event-name {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
    max-width: calc(100% - 2rem);
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}

.event-image-box {
    height: 20rem;
}

.event-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-info {
    padding: 1rem;
    flex-grow: 1;
}

.event .description {
    font-size: 1.5rem;
}

.event .distance {
    width: fit-content;
    white-space: nowrap;
}

.creator-info {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}

.event p:not(.creator-name),
.event address,
.event time {
    margin: 0 0 0.3rem;
}

.creator-profile-pic-box {
    aspect-ratio: 1 / 1;
    min-width: 3rem;
    max-width: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.creator-profile-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.creator-name {
    display: inline;
    margin: 0 0 0 1rem;
    word-wrap: break-word;
}

.view-participants,
.event-action {
    height: 3rem;
    text-align: center;
    padding: 0.4rem 1rem 0.5rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
    transition: 0.3s;
    width: 100%;
}

.event-bottom .disabled {
    background-color: transparent;
    color: #000;
    cursor: default;
    height: fit-content;
}

.log-in-to-join {
    text-align: right;
}

.view-participants.disabled,
.log-in-to-join.disabled {
    padding: 0.4rem 0 0 0;
    width: fit-content;
}

.log-in-to-join.disabled {
    margin-left: auto;
}

.view-participants {
    background-color: var(--light-green);
    color: var(--dark-green);
    border: none;
    font-size: 1.2rem;
}

.view-participants:not(:disabled):hover {
    filter: brightness(105%);
}

.event-action {
    font-size: 1.5rem;
}

.fill-seat,
.edit-event-button {
    background-color: var(--medium-green);
    color: #fff;
    text-decoration: none;
}

.event-completed {
    padding: 0;
    align-self: center;
}

.youre-going-box {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0;
}

.youre-going {
    flex-grow: 1;
    padding-top: 0.3rem;
    height: 100%;
    background-color: var(--blue);
}

.give-up-seat {
    background-color: var(--light-red);
    color: black;
    border: none;
    padding: 0 1rem;
    height: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.3s;
}

.fill-seat:hover,
.edit-event-button:hover {
    filter: brightness(125%);
    color: #fff;
}

.give-up-seat:hover {
    filter: saturate(500%);
}




