.home-page,
.my-seats-page,
.my-events-page {
    max-width: 75rem;
    width: 90%;
}

.home-page {
    margin: calc(var(--sub-header-height) + 1rem) auto 2rem;
}

.my-seats-page {
    margin: 0 auto 2rem;
}

.my-events-page {
    margin: 1rem auto;
}

.center-message {
    padding: 1rem 0;
    font-size: 1.3rem;
    text-align: center;
    white-space: pre-line;
    width: 25rem;
    margin: auto;
}

.center-message a {
    color: #000;
}

.center-message a:hover {
    color: var(--orange);
}

@media (max-width: 992px) {
    .home-page,
    .my-seats-page,
    .my-events-page {
        margin-bottom: calc(var(--footer-height) + 1rem);
}
}