.image-button.event-image-button {
    position: relative;
    height: 12rem;
    width: 100%;
    border-radius: 0.25rem;
}

.event-address-wrapper {
    position: relative;
}

.event-address-validation {
    position: absolute;
    width: 100%;
    opacity: 0;
}

.invalid-location {
    position: relative;
    width: fit-content;
}
