.home-page,
.my-seats-page,
.my-events-page {
    max-width: 75rem;
    width: 90%;
}

.home-page {
    margin: calc(var(--sub-header-height) + 1rem) auto 2rem;
}

.my-seats-page {
    margin: 0 auto 2rem;
}

.my-events-page {
    margin: 2rem auto;
}

@media (max-width: 992px) {
    .home-page,
    .my-seats-page,
    .my-events-page {
        margin-bottom: calc(var(--footer-height) + 2rem);
}
}