.home-page,
.my-seats-page,
.my-events-page {
    max-width: 75rem;
    width: 90%;
    margin: auto;
}

.home-page {
    margin-top: calc(var(--sub-header-height) + 1rem);
}

.my-events-page {
    margin-top: 2rem;
}