.home-page-bg,
.my-seats-bg,
.my-events-bg {
    padding-bottom: 1rem;
    background-color: var(--light-gray);
    height: calc(100vh - var(--header-height));
    overflow: auto;
}

.home-page,
.my-seats-page,
.my-events-page {
    max-width: var(--max-page-width);
    width: 90%;
}

.home-page {
    margin: calc(var(--sub-header-height) + 2rem) auto 1rem;
}

.my-seats-page {
    margin: 0 auto 1rem;
}

.my-events-page {
    margin: 1rem auto;
}

.center-message {
    padding: 1rem 0;
    font-size: 1.3rem;
    text-align: center;
    white-space: pre-line;
    width: 25rem;
    margin: auto;
}

.center-message a {
    color: #000;
}

.center-message a:hover {
    color: var(--orange);
}

@media (max-width: 992px) {
    .home-page,
    .my-seats-page,
    .my-events-page {
        margin-bottom: calc(var(--footer-height) + 1rem);
    }

    .home-page-bg,
    .my-seats-bg,
    .my-events-bg {
        height: calc(100vh - var(--header-height) - var(--footer-height));
    }
}