.event {
    position: relative;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    box-shadow: 0 2px 3px 1px rgb(173, 173, 173);
    overflow: hidden;
}

.event-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-name {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}

.event-image-box {
    height: 20rem;
}

.event-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-info {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.event .description {
    font-size: 1.5rem;
}

.event .details {
    width: fit-content;
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 1px solid var(--border-color);
}

.event .details.large {
    min-width: 40%;
}

.event .distance {
    width: fit-content;
    white-space: nowrap;
}


.creator-info {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}

.event p,
.event address,
.event time {
    margin: 0 0 0.3rem;
}

.creator-profile-pic-box {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    overflow: hidden;
}

.creator-profile-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.event-bottom {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 1rem 1rem;
}

.event-bottom button {
    height: 3rem;
    text-align: center;
    padding: 0.4rem 1rem 0.5rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
    transition: 0.3s;
}

.view-participants {
    background-color: var(--light-green);
    color: var(--dark-green);
    border: none;
    font-size: 1.2rem;
}

.view-participants:hover {
    filter: brightness(105%);
}

.event-action {
    margin-left: 1rem;
    font-size: 1.5rem;
    background-color: var(--dark-green);
    color: #fff;
    flex-grow: 1;
}

.event-action:hover {
    filter: brightness(125%);
}




