.header {
    position: fixed;
    top: 0;
    height: var(--header-height);
    padding: 0 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    z-index: 10;
    background-color: #fff;
}

.header-home {
    border-bottom: none;
}

.spacer {
    height: var(--header-height)
}

.header *,
.footer * {
    text-decoration: none;
    color: #000;
}

.logo-link:hover,
.header-nav:hover {
    color: var(--orange)
}

.header-nav,
.footer-nav {
    margin: 0 0 0 1rem;
    padding: 0 0 3px;
    background-color: transparent;
    border: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    font-size: 1.2rem;
}

.logo-link-box {
    flex-grow: 1;
    margin-right: 1rem;
}

.logo-link {
    width: fit-content;
    font-size: 2rem;
    font-weight: 600;
}

.create-event-nav {
    position: relative;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--orange);
    color: #000;
    transition: 0.3s;
    padding: 0.5rem 0.75rem;
    margin: 0 1rem;
    min-width: 10.5rem;
    
}

.create-event-nav * {
    display: inline-block;
    margin: 0;
}

.create-event-nav:hover {
    filter: brightness(115%);
}

.calendar-plus {
    height: 1.5rem;
    margin: -0.3rem 0.5rem 0 0;
}

.header-nav.active,
.footer-nav.active {
    border-bottom: 2px solid var(--orange);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    z-index: 10;
    background-color: #fff;
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}

@media (max-width: 992px) {
    .header-nav {
        display: none;
    }

    .footer {
        display: flex;
    }

    .footer-nav {
        margin: 0;
        padding: 0;
        letter-spacing: -0.5px;
    }

    .header {
        justify-content: center;
    }

    .logo-link-box {
        text-align: center;
    }

    .logo-link-box.auth {
        text-align: left;
    }

    .create-event-nav {
        margin: 0;
    }

    .footer-nav:hover {
        color: #000;
    }
}