.header {
    position: fixed;
    top: 0;
    height: var(--header-height);
    padding: 0 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    z-index: 10;
    background-color: #fff;
}

.spacer {
    height: var(--header-height)
}

.header * {
    text-decoration: none;
    color: #000;
}

.logo-link:hover,
.header-nav:hover {
    color: #FFA500; 
}

.header-nav {
    margin-left: 1rem;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
}

.logo-link-box {
    flex-grow: 1;
}

.logo-link {
    width: fit-content;
    font-size: 2rem;
}

.create-event-nav {
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    background: var(--create-event-color);
    transition: 0.3s;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.create-event-nav:hover {
    filter:brightness(110%);
}