.header {
    position: fixed;
    top: 0;
    height: var(--header-height);
    padding: 0 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    z-index: 10;
    background-color: #fff;
}

.spacer {
    height: var(--header-height)
}

.header *,
.footer * {
    text-decoration: none;
    color: #000;
}

.logo-link:hover,
.header-nav:hover {
    color: var(--orange)
}

.header-nav,
.footer-nav {
    margin: 0 0 0 1rem;
    background-color: transparent;
    border: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    font-size: 1.2rem;
}

.logo-link-box {
    flex-grow: 1;
}

.logo-link {
    width: fit-content;
    font-size: 2rem;
    font-weight: 600;
}

.create-event-nav {
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    background: var(--create-event-color);
    transition: 0.3s;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.create-event-nav:hover {
    filter: brightness(125%);
}

.header-nav.active,
.footer-nav.active {
    border-bottom: 2px solid var(--orange);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    z-index: 10;
    background-color: #fff;
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}

@media (max-width: 992px) {
    .header-nav {
        display: none;
    }

    .footer {
        display: flex;
    }

    .footer > * {
        margin: 0;
        letter-spacing: -0.5px;
    }

    .header {
        justify-content: center;
    }

    .logo-link-box {
        text-align: center;
    }

    .logo-link-box.auth {
        text-align: left;
    }

    .create-event-nav {
        margin: 0;
    }

    .footer .login-link {
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 1.75rem;
    }

    .footer-nav:hover {
        color: #000;
    }
}