.my-seats-timeperiod {
    border: none;
    border-radius: 0.5rem;
    height: 2.5rem;
    margin: 0.5rem 0;
    font-size: 1.75rem;
    outline: 0px;
    transition: 0.1s;
    background-color: transparent;
}

.my-seats-timeperiod:hover {
    background-color: #ccc;
    cursor: pointer;
}

.my-seats-spinner {
    margin: 0 0 0 1rem;
}