.search-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    margin: 0;
    z-index: 10;
    background-color: #fff;
}

.search-options {
    max-width: var(--max-page-width);
}

.mobile-search-header button {
    text-align: center;
    font-size: 1.2rem;
}
