.search-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    height: var(--sub-header-height);
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    margin: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.search-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    margin: auto;
}

.search-options > * {
    margin: 0 0.25rem;
}

.phrase-search-input {
    flex-grow: 1;
}

.location-search-input {
    width: 20rem
}