.search-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    height: var(--sub-header-height);
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    margin: 0;
    background-color: #fff;
    z-index: 10;
    display: flex;
    align-items: center;
}

.search-bar-form {
    display: flex;
    align-items: center;
    width: 50rem;
    margin: auto;
}

.search-bar-form > * {
    margin: 0 0.25rem;
}

.location-search-input {
    flex-grow: 1;
}

.search-submit {
    height: 36px;
    padding: 6px 12px;
    border: none;
    border-radius: 0.25rem;
    background-color: var(--light-green);
    transition: 0.3s;
}

.search-submit:hover {
    filter: brightness(105%);
}