.star-box {
    height: 3.5rem;
    width: 3.5rem;
    padding: 0.3rem 0.5rem 0.4rem;
    background: var(--create-event-color);
    border-radius: 50%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-icon {
    height: 100%;
    width: 100%;
}