:root {
	--border-color: #999;
	--dark-green: #3E7444;
	--medium-green: #498850;
	--light-green: #DEEDDF;
	--red: #e01e37;
	--light-red: #FADBDF;
	--blue: #D8F4FA;
	--orange: rgba(252,176,69,1);
	--header-height: 4rem;
	--footer-height: 4rem;
	--sub-header-height: 3rem;
	--create-event-color: linear-gradient(90deg, rgba(245,117,226,1) 0%, var(--orange) 100%);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
