:root {
	--light-gray: #F9F9F9;
	--off-white: #FEF6EB;
	--border-color: #bbb;
	--dark-blue: #023047;
	--medium-blue: #37A2D3;
	--light-blue: #D7ECF6;
	--light-red: #FADBDF;
	--green: #618B4A;
	--orange: rgba(252,176,69,1);
	--create-event-color: linear-gradient(90deg, rgba(245,117,226,100) 0%, var(--orange) 100%);
	--header-height: 4rem;
	--footer-height: 3.5rem;
	--sub-header-height: 3rem;
	--max-page-width: 75rem;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.animate-button {
	transition: 0.04s;
}

.animate-button:active {
	transform: translateY(2px);
}

